@model KinoSuite.Models.UpcomingScreeningsViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Upcoming screenings</h1> 
</div>


<div class="row">
    <div class="col-md-12">
    </div>
</div>

<div class="row">
        @foreach (var item in Model.Screenings)
        {
            <div class="screening-block">
              @*  <img src="@Url.Content("~/" + @item.AvatarImage)" alt="#">*@
                
              @*  <h3>@item.MovieId</h3>*@
                @*<h4>@item.Movie.Description</h4>*@
                
                <h4>@item.ScreeningStart</h4>
                <p>@item.ScreeningEnd</p>
                @*<div class="icon-awesome">
                    <a href="@Url.Content("~/" + @item.AvatarImage)" rel="prettyPhoto"><i class="icon-search"></i></a>
                    <a href="@Url.Content("/Home/Details/" + @item.Title + "/" + @item.CategoryId + "/" + @item.ItemId)"><i class="icon-link"></i></a>
                </div>*@
            </div>
        }
@foreach (var item in Model.Movies)
{
    <div class="screening-block">
        @*  <img src="@Url.Content("~/" + @item.AvatarImage)" alt="#">*@

        @*  <h3>@item.MovieId</h3>*@
        @*<h4>@item.Movie.Description</h4>*@

        <h4>@item.Title</h4>
        <p>@item.Description</p>
        @*<div class="icon-awesome">
                <a href="@Url.Content("~/" + @item.AvatarImage)" rel="prettyPhoto"><i class="icon-search"></i></a>
                <a href="@Url.Content("/Home/Details/" + @item.Title + "/" + @item.CategoryId + "/" + @item.ItemId)"><i class="icon-link"></i></a>
            </div>*@
    </div>
}
</div>