@model KinoSuite.Models.UpcomingScreeningsViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>This months screenings</h1> 
</div>


<div class="row">
    <div class="col-md-12">
    </div>
</div>

<div class="row">
    

        @*@foreach (var item in Model.ScreeningItems)
        {
            <div class="row upcoming-screening row-eq-height">
                <div class="col-sm-4">
                    @if (@item.Image != null)
                    {
                        <img class="center-block img-responsive" src="data:image;base64,@System.Convert.ToBase64String(@item.Image)" alt="img" />
                    }

                </div>
                <div class="col-sm-6">
                    <h1>@item.Title <br /> @item.genre</h1>
                    <h2>@item.Description</h2>
                    <h3>Screening start: @item.startTime</h3>
                    <h3>Movie length: @item.length minutes</h3>
                    @if (@item.isPremiere == true)
                {
                        <h4>Premiere</h4>
                    }
                    <h4>Language: @item.language</h4>
                    <h4>Subtitle language: @item.subtitleLanguage</h4>
                    @if (@item.youtube_link != "")
                    {
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="youtube-video" src="@item.youtube_link" allowfullscreen></iframe>
                        </div>
                    }                                       
                </div>
                <div class="col-sm-2 padding">

                </div>
                
            </div>
        }*@
    @foreach (var item in Model.ScreeningItems)
    {
        <div class="row row-eq-height">
            <div class="col-sm-4 no-padding">
                @if (@item.Image != null)
                {
                    <img class="img-expanded" src="data:image;base64,@System.Convert.ToBase64String(@item.Image)" alt="img" />
                }
            </div>
            <div class="col-sm-6">

                <div class="row">
                    <div class="col-sm-6">

                        <h1>@item.Title</h1>
                    </div>
                    <div class="col-sm-6">

                        <h2> @item.genre</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <h3>
                            @item.Description
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <h3>
                            Movie Length: @item.length
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <h3>
                            Screening Starts : @item.startTime
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <h3>
                            Language: @item.language
                        </h3>
                    </div>
                    <div class="col-sm-6">
                        <h3>
                            Subtitle language: @item.subtitleLanguage
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8">
                        @if (@item.isPremiere == true)
                        {
                            <span>Premiere!</span>
                        }
                    </div>
                    <div class="col-sm-4">
                        <span>HERE WILL BE RATINGS!</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        @if (@item.youtube_link != "")
                {
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="youtube-video" src="@item.youtube_link" allowfullscreen></iframe>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-sm-2">

            </div>
        </div>
    }
</div>
