@model KinoSuite.Models.UpcomingScreeningsViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Upcoming screenings</h1> 
</div>


<div class="row">
    <div class="col-md-12">
    </div>
</div>

<div class="row">
    @foreach (var item in Model.ScreeningItems)
    { 
    <h4>@item.Image</h4>
    <h4>@item.Title</h4>
    <h4>@item.isPremiere</h4>
    <h4>@item.length</h4>
    <h4>@item.language</h4>
    <h4>@item.subtitleLanguage</h4>
 }
</div>
